@media (min-width: 1210px) {
  .promo__image {
    left: 50%;
    right: inherit;
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1300px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .rate {
    &.vip {
      .list {
        max-height: 411px;
      }
    }
  }
  .promo__image {
    right: 120px;
  }

  .program__image {
    right: -30px;
    left: inherit;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 769px) and (max-width: 991px) {
}
@media (max-width: 991px) {
  .rate {
    padding: 30px 20px 31px;
    min-width: 320px;

    .title {
      font-size: 24px;
      line-height: 20px; /* 83.333% */
    }

    .curator {
      top: 33px;
      right: 20px;
    }
    .list {
      li {
      }
    }
    .cost {
      font-size: 38px;
      line-height: normal;
    }

    .charity {
      font-size: 12px;
      line-height: 14px; /* 116.667% */
    }

    &.vip {
      .list {
        max-height: 460px;
      }
    }
  }
  .open-menu {
    display: flex;
  }
  .header__nav {
    display: none;
  }

  .program__image {
    display: none;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  [class*="_container"] {
    padding: 0 20px;
  }

  [class*="_btn"] {
    border-radius: 80px;
    height: 48px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  h1 {
    font-size: 25px;
    line-height: 26px; /* 104% */
  }

  h2 {
    font-size: 30px;
    line-height: normal;
  }

  .desck {
    display: none;
  }
  .mobile {
    display: flex;
  }

  /* slick slider */

  /* header section */
  .header {
    top: 14px;
  }

  .header__inner {
    grid-template-columns: minmax(auto, 516px) 1fr;
    padding: 0px 0px;
  }

  .header__left {
    justify-content: start;
    gap: 15px;
  }
  .header__start {
    background: none;
    padding: 0px;
  }
  .header__start p {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px; /* 118.75% */
    letter-spacing: -0.5px;
  }

  .nav__link {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    transition: all 250ms;
  }
  .nav__link:hover {
    color: #ff88eb;
    transition: all 250ms;
  }

  /* promo section */

  .promo {
    padding-top: 0px;
    background: linear-gradient(180deg, #4bd3ff 0%, #ffb0e4 100%);
  }
  .promo__inner {
    padding-top: 82px;
    border-radius: 0px;
    background: none;
  }
  .promo__title {
    width: 55vw;
    max-width: calc(100vw - 156px);
    border-radius: 0px 50px 50px 0px;
    padding: 0px;
    padding-left: 0px;
    margin-left: -1px;
  }

  .promo__title h1 {
    padding: 20px 22px 20px 0;
  }
  .promo__list {
    padding-left: 0px;
    margin-bottom: 135px;
    margin-top: 18px;
  }
  .promo__list li {
  }
  .promo__list li p {
    max-width: 145px;
  }
  .promo__list li::before {
    background-color: #ff88eb;
    top: 15px;
    transform: none;
  }

  .promo__image {
    bottom: 111px;
    max-width: 389px;
    width: 389px;
    right: 10vw;
  }
  .promo__buttons {
    grid-template-columns: 100%;
    padding: 20px 20px;
    margin-left: -21px;
    margin-right: -21px;
    gap: 10px;
  }
  .promo__btn {
    max-width: none;
  }
  .promo__timer {
    flex-direction: column-reverse;
    gap: 5px;
    padding: 15px 17px;
  }
  .promo__timer p {
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 163.636% */
    letter-spacing: -0.22px;
    width: 100%;
    text-align: center;
  }

  /* about section */

  .about {
    padding-top: 40px;
  }

  .about__items {
    padding: 15px 20px 115px 20px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .about__items .slick-track {
    gap: 19px;
  }

  .about__item {
    padding-top: 55px;

    h4 {
      line-height: 20px; /* 111.111% */
    }

    p {
      font-size: 13px;
      line-height: 18px; /* 138.462% */
      margin-top: 12px;
    }
  }

  .pink-back {
    border-radius: none;
    background: transparent;
  }

  /*   result */

  .result {
    padding-bottom: 50px;
    border-radius: 50px;
    background: linear-gradient(0deg, #4bd3ff 0%, #ffb0e4 100%);
  }

  .result__items {
    padding: 20px 0 0px 0;
    position: relative;
    z-index: 3;
    .slick-track {
      gap: 10px;
    }

    .slick-arrow {
      background-color: #ff88eb;
      bottom: 20px;
      z-index: 20;
    }

    .slick-arrow.slick-next {
      background-image: url(../img/next.svg);
    }

    .slick-arrow.slick-prev {
      background-image: url(../img/prev.svg);
    }
  }
  .result__item {
    border-radius: 40px;

    padding: 30px 20px 75px 20px;
    min-width: 320px;
    width: calc(100vw - 40px);
    max-width: 350px;

    gap: 25px;

    z-index: 2;
  }
  .image {
    width: 100%;
    height: 198px;
    border-radius: 20px;
  }

  .result__slide {
    color: #ff88eb;
    top: calc(100% - 203px);
    z-index: 20;
  }

  .result__btn {
    margin-top: 30px;
    color: #6fcaf9;
  }

  [class*="_quantity"] {
    margin-top: 10px;
  }

  /* program section */
  .program {
    padding-top: 60px;
  }

  .program__title {
    color: #3c2c3e;
  }
  .program__items {
    padding-top: 20px;
    padding-bottom: 55px;
    display: block;

    .slick-track {
      gap: 20px;
    }

    .slick-arrow {
      background-color: #353535;
      bottom: 0px;
    }
  }

  .program__slide {
    display: block;
    color: #353535;
    bottom: 133px;
    top: inherit;
  }

  .program__item {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  }

  .program__btn {
    margin-top: 30px;
    background-color: #ff88eb;
    color: #fff;
  }

  /* author section */

  .author {
    padding-top: 60px;
  }
  .author__container {
    grid-template-columns: 100%;
    gap: 52px;
  }
  .author__title {
    margin-bottom: 2px;
  }
  .author__photo {
    height: 126vw;
    max-height: 453px;
    min-height: 400px;
    margin-left: -21px;
    margin-right: -21px;
    width: 100vw;

    img {
      bottom: inherit;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 145vw;
      max-width: 523px;
      min-width: 523px;
    }
  }

  .author__list {
    margin-bottom: 0px;

    li {
      padding: 24px 0 20px 0;
      font-size: 14px;
      line-height: 20px; /* 142.857% */
      padding-left: 33px;

      &::before {
        left: 8px;
        top: 29px;
      }
    }
  }

  .author__btn {
    display: none;
  }

  /* reviews section */
  .reviews {
    padding-top: 0px;
  }

  .reviews__subtitle {
    margin-top: 18px;
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
  .reviews__items {
    padding-top: 20px;
    padding-bottom: 55px;

    .slick-track {
      gap: 19px;
    }
  }
  .reviews__item {
    max-width: 206px;
    width: 206px;

    .image {
      width: 110%;
      max-width: 206px;
      height: 110%;
      min-height: 228px;
      max-height: 228px;
    }
    a {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 11px;
      line-height: 18px; /* 163.636% */
    }
  }
  .reviews__slide {
    bottom: 113px;
  }

  /* rates section */
  .rates {
    padding-top: 40px;
  }
  .rates__subtitle {
    font-size: 16px;
    line-height: 19px; /* 118.75% */
    margin-top: 15px;
  }

  .rates__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .rates__start {
    top: -35px;
    left: inherit;
    right: 20px;
    width: 75px;
    height: 74.453px;
    font-size: 14px;
    line-height: normal;

    h5 {
      font-size: 16px;
    }
  }

  .rate {
    &.vip {
      grid-column: 1/3;

      .list {
        max-height: 550px;

        li {
          width: 100%;
        }
      }
    }
  }

  .faq__item {
    .faq__question {
      padding: 16px 0;

      h4 {
        font-size: 13px;
        font-weight: 500;
        line-height: 18px; /* 138.462% */
      }
    }
    .faq__answer {
      p {
        font-size: 12px;
      }
    }

    button {
      width: 22px;
      height: 22px;

      span {
        width: 10px;
      }
    }
  }
  .faq__support {
    margin-top: 20px;

    h3 {
      font-size: 14px;
      line-height: normal; /* 112.5% */
    }

    a {
      width: 22px;
      height: 22px;
      background-size: 10px;
    }
  }

  /* footer */

  .footer {
    padding-top: 60px;
  }

  .footer {
    .nav {
      grid-template-columns: 1fr;
      gap: 6px;
    }
  }
  .footer__container {
    padding-top: 0;
    grid-template-columns: 100%;
    position: relative;
    align-items: start;
    gap: 30px;
  }
  .footer__logo {
    position: relative;
    top: inherit;
    left: inherit;

    font-size: 16px;
    letter-spacing: 1.44px;
  }
  .footer__social {
  }

  .footer__other {
    div {
      &:nth-child(1) {
        flex-direction: column;
        gap: 5px;
      }
    }
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .promo__image {
    right: inherit;
    left: 0;
  }
  .rates {
    padding-bottom: 524px;
  }
  .rates__image {
    display: block;
    position: absolute;
    width: 388px;
    bottom: -74px;
    left: -48px;
  }
  .rates__text {
    display: block;
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 106.667% */
    max-width: 200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 112px;
    z-index: 20;
  }
  .promo__title {
    width: 65vw;
    max-width: none;
  }

  .author__photo {
    img {
      left: -26px;
      transform: none;
    }
  }

  /* rates section */
  .rates__items {
    grid-template-columns: 100%;
  }

  .rate {
    &.vip {
      grid-column: 1/2;

      .cost {
        justify-content: start;
      }
      .rate__btn {
        max-width: none;
        width: 100%;
      }
      .list {
        flex-wrap: nowrap;
        max-height: none;

        li {
          width: 100%;
          max-width: none;
        }
      }
    }
  }

  /* faq section */
  .faq {
    padding-top: 0px;
    margin-top: -60px;
  }
  .faq__container {
    flex-direction: column-reverse;
  }
  .faq__form-block {
    box-shadow: 0px 4px 14px rgba(255, 54, 140, 0.1);
    margin-bottom: 30px;
    max-width: none;
    width: 100%;
  }
  .form {
    label {
      color: #3c2c3e;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 111.111% */
      display: inline-block;
      margin-bottom: 10px;
    }

    input {
      &[type="submit"] {
        height: 48px;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
  .form__title {
    color: #353535;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 100% */
    margin-bottom: 20px;
  }
}

/* Iphone 5 */
@media (max-width: 320px) {
}
