@media (min-width: 1210px) {
  .promo__image {
    left: 50%;
    right: inherit;
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1300px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .promo__image { 
        right: 120px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 769px) and (max-width: 991px) {
}
@media (max-width: 991px) {
  .open-menu {
    display: flex;
  }
  .header__nav {
    position: fixed;
    right: -120vw;
    top: -20px;
    transition: all 350ms;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  [class*="_container"] {
    padding: 0 20px;
  }

  
  /* header section */
  .header {
    top: 14px;
  }

  .header__inner {
    grid-template-columns: minmax(auto, 516px) 1fr;
    padding: 0px 0px;
  }

  .header__left { 
    justify-content: start;
    gap: 15px;
  }
  .header__start {
    background: none;
    padding: 0px;
  }
  .header__start p {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px; /* 118.75% */
    letter-spacing: -0.5px;
  }

  .nav__link {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    transition: all 250ms;
  }
  .nav__link:hover {
    color: #ff88eb;
    transition: all 250ms;
  }

  /* promo section */

  .promo {
    padding-top: 0px;
    background: linear-gradient(180deg, #4bd3ff 0%, #ffb0e4 100%);
  }
  .promo__inner {
    padding-top: 82px;
    border-radius: 0px;
    background: none;
  }
  .promo__title {
    width: 46vw;
    max-width: calc(516px + 35px);
    border-radius: 0px 35px 35px 0px;
    background: #fff;
    padding: 30px 0 35px 0;
    padding-left: 30px;
    margin-left: -1px;
  }

  .promo__title h1 {
    color: #64cffc;
    max-width: 516px;
  }
  .promo__list {
    padding-left: 30px;
    margin-bottom: 40px;
    margin-top: 18px;
  }
  .promo__list li {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    padding: 12px 0;
    width: 100%;
    max-width: 420px;
    position: relative;
    padding-left: 13px;
  }
  .promo__list li::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
  }
  .promo__list li:not(:last-child) {
    border-bottom: 1px #000 solid;
  }
  .promo__image {
    position: absolute;
    bottom: 0px;
    max-width: 389px;
    width: 33vw;
    right: 15vw;
    z-index: 0;
  }
  .promo__buttons {
    background-color: #fff;
    display: grid;
    grid-template-columns: minmax(auto, 516px) 1fr;
    padding: 22px 29px;
    gap: 11px;
    z-index: 2;
    position: relative;
    border-radius: 50px 50px 0 0;
  }
  .promo__btn {
    max-width: 516px;
    width: 100%;
  }
  .promo__timer {
    width: 100%;
    border-radius: 30px;
    border: 1px solid #ff88eb;

    display: flex;
    align-items: center;
    gap: 11px;
    justify-content: center;
  }

  .promo__timer h3 {
    color: #ff88eb;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 93.75% */
  }

  .promo__timer p {
    color: #353535;
    font-size: 11px;
    font-weight: 500;
    line-height: 12px; /* 109.091% */
    letter-spacing: -0.22px;
    width: 160px;
    opacity: 0.5;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
}

/* Iphone 5 */
@media (max-width: 320px) {
}
